.github/*
!.github/workflows 

.devcontainer

celerybeat.pid
.env
venv
.venv

.zip
public
.pytest_cache
docker/production/*.env
docker/local/*.env

**/*.env

/docker/production/*.env
/docker/local/*.env
